.toggle-container {
  display: inline-block;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  position: relative;
}

.toggle-inner {
  display: block;
  width: 21px;
  height: 21px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.toggle-checkbox:checked + .toggle-label .toggle-inner {
  transform: translateX(25px);
}

.toggle-switch {
  display: block;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
}

.toggle-checkbox:checked + .toggle-label .toggle-switch {
  left: 25px;
}
